.article {
    margin-top: 39px;
}

.banner-container {
    margin-bottom: 15px;
}

.banner {
    border-radius: 9px 0 9px 9px;
    box-shadow: -9px 10px 2px rgba(0, 0, 0, 0.1);
}

.section {
    text-align: center;
    /*margin-top: 59px;*/
    margin-top: 44px;
    margin-right: 1px;
    margin-bottom: 32px;
}

.section__title-container {
    margin-bottom: 9px;
    position: relative;
    left: 3.5px;
}

.section__title {
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    letter-spacing: 2.05px;
    font-size: 32px;
    color: #373435;
}

.section__paragraph_first {
    margin: 0;
}

.section__paragraph {
    margin: 0;
    margin-left: 5.5px;
}

.section__text {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.25;
    letter-spacing: 1.12px;
    color: #676364;
}