.article {
    margin-top: 39px;
}

.banner-container {
    margin-bottom: 15px;
}

.banner {
    border-radius: 9px 0 9px 9px;
    box-shadow: -9px 10px 2px rgba(0, 0, 0, 0.1);
}

.section {
    /*margin-top: 59px;*/
    margin-top: 44px;
    margin-right: 1px;
    margin-bottom: 32px;
}

.section__title-container {
    margin-bottom: 9px;
    position: relative;
    left: 3.5px;
}

.section__title {
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    letter-spacing: 2.05px;
    font-size: 32px;
    color: #373435;
}

.section__paragraph_first {
    margin: 0;
}

.section__paragraph {
    margin: 0;
    margin-left: 5.5px;
}

.section__text {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.25;
    letter-spacing: 1.12px;
    color: #676364;
}

.product-title {
    position: relative;
    bottom: 15px;
    left: 2px;
    margin-bottom: 18px;
}

.product-title__text {
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1.5px;
    color: #ed3237;
}

.product-button {
    background-color: #ebebeb;
    display: inline-block;
    padding: 9px 16px 9px 13.5px;
    border: 1px solid #cecece;
    border-radius: 5px;
    box-shadow: -4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.product-button-container {
    margin-right: 6px;
    margin-bottom: 10px;
}

.product-button-container:last-child {
    margin-right: 0;
}

.product-button__text {
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1.5px;
    color: #373435;
}