@font-face {
  font-family: 'icomoon';
  src:  url('./../fonts/icomoon.eot?ej7mss');
  src:  url('./../fonts/icomoon.eot?ej7mss#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon.ttf?ej7mss') format('truetype'),
    url('./../fonts/icomoon.woff?ej7mss') format('woff'),
    url('./../fonts/icomoon.svg?ej7mss#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 26px;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wrench:before {
  content: "\f0ad";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-pencil:before {
  content: "\e901";
}
