.button-separator__horizontal-lines {
    display: inline-block;
    width: 1170px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
}

.button-separator__center-horizontal-line {
    border-top: 1px solid #c2c2c2;
}