.button-separator__back_header {
    position: relative;
    right: 53%;
    top: 25px;

    /*position: absolute;
    right: 26.4%;
    
    bottom: -2px;
    /*bottom: 47.5px;*/
}

.button-separator__back {
    background-color: #e5e5e5;
    padding-left: 12px;
    padding-right: 13px;
}