/*
.button-container {
    margin-left: 590px;
    width: fit-content;
}
*/

/*
.button-header {
    background-color: #e5e5e5;
    position: relative;
    right: 52.5%;
    bottom: 33px;
    padding-left: 12px;
    padding-right: 13px;
}
*/

/*
.button {
    display: inline-block;
    background-color: #ed3237;
    border: 0;
    padding: 10px 13.25px 10px 15.5px;
    border-radius: 5px;
    box-shadow: -4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
*/

/*
.button-text {
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.4px;
    color: #ebebeb;
}
*/