.logo-header {
    position: relative;
    bottom: 46px;
    right: 52.05%;
}

.logo {
    display: inline-block;
    background-color: #e5e5e5;
    padding: 29px 31px 30px 30px;
    border-radius: 5px;
    box-shadow: -9px 10px rgba(0, 0, 0, 0.1);
}