.menu__button {
    display: inline-block;
    padding: 9px 0px 12px;
    background-color: #e5e5e5;
    border: 0;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    cursor: pointer;
}

.menu__button:hover {
    color: #ed3237;
}

.menu__button-header {
    margin-right: 41.5px;
}

.menu__button-header:last-child {
    margin-right: 0px;
}