.background__page-header {
    margin-top: 97px;
    margin-left: 349px;
}

.background__page {
    background-color: #e5e5e5;
    width: 1170px;
    min-height: 300px;
    border-radius: 5px;
    padding-bottom: 30px;
    padding-left: 26px;
    padding-right: 35px;
}